<p>$ whoami</p>
<p>I'm an evagelist for Linux and Open Source tech.</p>
<p>I enjoy learning new technologies, problem solving and working with the cloud, both public and private.</p> 
<p>I get excited about logistics, process improvement, creating tools to improve day-to-day operations for humans and machines, as well creating documentation.</p>
<p>I yearn to grow as a Site/Platform Reliability Engineer, dividing my time with Engineering, Development, and Operations work.</p>
<p>I'm happiest when working on providing a stable platform for customers to deploy their applications. I'm even happier when automating and creating tools to improve process efficiency and availability.</p>
<p>When I'm not at work, I like spending time with my wife and cats, listening to music, watching movies, and expanding my skills learning new technologies and platforms. Currently I am focusing on improving my coding skills through Python and Go as well as various other technologies that are revolutionizing the industry.</p>
<p>If you'd like to know more about me, please feel free to reach out to me! Contacts below, thank you!</p>
