[Unit]
Description=Gunicorn instance to serve my site
After=network.target

[Service]
User=YOU-USERNAME
Group=www-data
WorkingDirectory=/home/YOU-USERNAME/personal-site
Environment="PATH=/home/YOU-USERNAME/personal-site/.venv/bin
ExecStart=/home/YOU-USERNAME/personal-site/.venv/bin/gunicorn --workers 3 --bind unix:mysite.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target

