[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=tony
Group=www-data
WorkingDirectory=/home/tony/personal-site
Environment="PATH=/home/tony/personal-site/.venv/bin
ExecStart=/home/tony/personal-site/.venv/bin/gunicorn --workers 3 --bind unix:mysite.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target

